
body {
    margin: 1rem;
}


.editor {
    //position: absolute;
    //top: 20px;
    //right: 0;
    //bottom: 0;
    //left: 0;
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    //min-height: 200px;
    //width: 80%;
}
.scrollmargin {
    height: 80px;
    text-align: center;
}