{% extends "common.html.twig" %}

{#====================================================================================================================#}
{# JOB - DELETE                                                                                                       #}
{#                                                                                                                    #}
{# The lines of text for each section below can be edited to suit your individual needs.                              #}
{#                                                                                                                    #}
{# - The upper line of text is sent as the content anytime a recipient is determined by a variable provided           #}
{#   in the Plugin Settings (i.e. %JOB_ASSIGNED_USER%).                                                               #}
{#                                                                                                                    #}
{# - The lower line of text is sent as the content anytime a recipient is determined by a manually entered            #}
{#   email in the Plugin Settings (i.e. rspaeth@mvqn.net).                                                            #}
{#                                                                                                                    #}
{# NOTE: The Webhook event is only triggered after the entity is deleted, so there is not much useful information we  #}
{# can display here regarding the actual entity that was deleted.                                                     #}
{#                                                                                                                    #}
{#====================================================================================================================#}

{% block body %}
    {# Email Subject #}
    {{ setSubject("Job Deleted"|translate) }}

    <div>
        {# Salutation #}
        <p>
            {{ "Dear Sales Team"|translate }},
        </p>

        {# Content #}
        <p>
            {{ "The " ~ entity|capitalize ~ " with ID: " ~ entityId ~ " has been deleted in the UCRM."|translate }}
        </p>
    </div>
{% endblock %}